* {
    /* để khi mg hoặc pd ko ảnh hưởng tới layout */
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1vw;
}



.boxcenter {
    width: 80%;
    margin: 0 auto;
}
.menu1{
    background-color: #E08A25;
    height: 45px;
  }
  .menu1 img{
    height: 45px;
  }
  .menu2  {
    background-color: #F2F2F2;
    display: flex;
   justify-content:space-around;
   align-items: center;
   height: 45px;
  }
  .menu2 ul{
    margin-top: 15px;
    list-style: none;
    display: flex;
  }
  .menu2 ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 60px;
    font-size: 15px;
  }
  .content1{
    background-color: #E08A25;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .banner img{
    width: 100%;
    height: 350px;
  }
  .banner2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    margin-top: 10px;
    width: 90%;
    margin-left: 65px;
  }
  
.row {
    float: left;
    width: 100%;

}
.form-check{
    float:left;
}
.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}

.footer {
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}

.boxtrai {
    float: left;
    width: 74%;
}

.boxphai {
    float: left;
    width: 24%;
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
}

.boxcontent {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.boxcontent3 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 70px;
    padding: 20px;
}
.boxcontent2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    background-color: #eee;
}

.boxfooter {
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;

}

.banner {
    min-height: 300px;
    width: 100%;
}

.banner img {
    height: 300px;
    width: 100%;
}


.boxsp {
    margin-top: 10px;
    float: left;
    width: 32%;
    height: 380px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.boxsp .img {
    min-height: 250px;
    text-align: center;
}

.boxsp .img img {
    width: 100%;
    height: auto;
}
.tensp{
    margin-top: 10px;
    text-align: center;
}

.boxsp p{
    color: crimson;
    font-weight: bold;
}
  .original-price {
    margin-left: 50px;
    font-size: 1rem;
    color: #8c8c8c;
    text-decoration: line-through;
  }
  
  .discounted-price {
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
  }
.boxsp:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    font-size: 0.8vw;
}

/* boxtaikhoan */
.formtaikhoan {
    line-height: 150%;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="email"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;

}

.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.formtaikhoan input[type="reset"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}

.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover {
    background-color: #ccc;
}

.formtaikhoan li a {
    color: teal;
    text-decoration: none;
}

.formtaikhoan li a:hover {
    color: rgb(5, 194, 5);
    text-decoration: underline;
}

/* menu dọc */

.menudoc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px #ccc solid;
}



.menudoc ul li a {
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover {
    background-color: #ccc;
}

.searbox input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.row.mb10.top10 img {
    width: 20%;
    height: 30px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

/* top 10 yêu thích  */
.top10 a {
    color: #666;
    text-decoration: none;
    text-align: center;
}

.top10 a:hover {
    color: #000;
    text-decoration: underline;
}
.row.mb.sp{
    display: flex;
    align-items: center;
}
.row.mb.sp img {
    width: 20%;
    height: 30px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

/* top 10 yêu thích  */
.sp a {
    color: #666;
    display: flex;
    
}

.sp a:hover {
    color: #000;
    text-decoration: underline;
}



/* Admin */


.headeradmin {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;

}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmcontent {
    padding: 20px 0px;
}

.frmdsloai table {
    width: 100%;
    /* làm mất khoảng cách do bẳng tạo ra */
    border-collapse: collapse;
}

.frmdsloai table th{
    padding: 20px;
    background-color: #ccc;
}

/* .frmdsloai table th:nth-child(2){
    width: 30%;
    background-color: #ccc;

}
.frmdsloai table th:nth-child(3){
    width: 40%;
    background-color: #ccc;

}
.frmdsloai table th:nth-child(4){
    width: 20%;
    background-color: #ccc;
} */

.frmdsloai table td{
    padding: 10px 20px;
    border: 1px #ccc solid;

}
@keyframes fade{
    from{
        opacity: .4;
    }to{
        opacity: 1;
    }
}

/* sản phẩm chi tiết */
.spct{
    text-align: center;
}
.spct img{
    width: 50%;
}
.box1{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
    display: flex;
    gap:32px;
   
}
.box1 h2{
   font-weight: bold;
   font-size: 20px;
}
.box1.boxnd p{
    font-size: 90px;
}
/* Phần tìm kiếm */
.boxfooter {
    padding: 10px;
    background-color: #f5f5f5;
}

.searbox {
    display: flex;
    align-items: center;
}

.searbox form {
    display: flex;
    gap: 20px;

}

.searbox input[type="text"] {
    padding: 6px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searbox input[type="submit"] {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.thongbao{
    color: red;
}

/* Nút mua hàng  */
.boxsp form{
    margin-top: 5px;
    text-align: center;
}
.addtocart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

  }

  
  .addtocart:hover {
    background-color: #45a049;
  }
  
  .addtocart:active {
    background-color: #3d8b40;
  }


  /* Phần footer trang web */

  footer{
    display: flex;
    background-color: #C6C5C5;
    justify-content: space-around;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 18px;
    width: 100%;
  }
  .contentfooter1 a{
  text-decoration: none;
  color:black;
  }
  .contentfooter2 a{
    text-decoration: none;
    color:black
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
  }
  .image_3 {
    height: 3rem !important;
    width: 10rem;
    margin-top: 0.5rem;
  }

  /* giỏ hàng */

  /* Nút tiếp tục mua hàng  */
  .continue-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #45a049;

    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.continue-button:hover {
    background-color: #3d8b40;
}




/* Phần trang chủ Admin */

h1 {
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
    color:black;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .total {
    display: flex;
    justify-content: center;
  }
  
  table {
    background-color: #f2f2f2;
    color: #333333;
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  footer {
    background-color: #ccc;
    padding: 10px;
  }
  